export HISTSIZE=
export HISTFILESIZE=
export HISTCONTROL=ignoredups
export EDITOR=vim
alias pwninit="pwninit --no-template"
back(){ $@ & disown ; }
codehere(){ back code . ; }
if [ -f /run/.containerenv  ] || [ -f /run/.toolboxenv ] || [ -f /.dockerenv ]; then PS1="🧊 $PS1"; fi
alias gdb="gdb -q"
export PATH="$PATH:$HOME/ctfsetup/bin"
export PATH="$HOME/.local/bin:$PATH"
eval "$(zoxide init bash)"
alias ossh="TERM=xterm-256color \\ssh"
alias tmo="history -a; tmux"
alias ipi="PWNLIB_NOTERM=1 PYTHONSTARTUP=~/.pythonrc.py python"
export FZF_CTRL_R_OPTS='--bind "enter:become:if [[ -n {} ]]; then echo {}; else echo {q}; fi" --bind "ctrl-c:become:echo {q}"'
